<div class="dashboard-item">
    <div class="flex-1">
        <app-payments [paymentType]="PaymentType.CLOTHING"></app-payments>
        <app-payments [paymentType]="PaymentType.GROCERIES"></app-payments>
        <app-payments [paymentType]="PaymentType.FLAT_FEES"></app-payments>
        <app-payments [paymentType]="PaymentType.ENTERTAINMENT"></app-payments>
        <app-payments [paymentType]="PaymentType.HOBBIES"></app-payments>
    </div>
    
    <!-- <div class="flex-1">
        <app-expense></app-expense>
    </div>
    <div class="flex-1">
        <app-total-amount></app-total-amount>
    </div> -->
    
    

</div>