.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    /* background-color: #819d9e; */
}

.list-item {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #819d9e;
    padding: 4em;
    font-size: 20px;
    font-weight: 300;
}