<div class="auth-container">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="inner-container">
            <div class="input-container">
                <label for="username">Username:</label>
                <input id="username" type="text" name="" id="" formControlName="username"/>
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input id="password" type="text" formControlName="password"/>
            </div>
            <div class="buttons-container">
                <p-button type="submit" (click)="setAction('login')" [disabled]="!authForm.valid">Login</p-button>
                <p-button type="submit" (click)="setAction('signup')" [disabled]="!authForm.valid">Sign up</p-button>
            </div>
        </div>
        @if(errorMessage()) {
            <p class="error">{{ errorMessage() }}</p>
        }
    </form>
</div>
