<div>
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="inner-container">
                <div class="input-container">
                    <label for="payments">{{ paymentType.label }}</label>
                    <p-inputnumber id="payments" type="number" formControlName="paymentInput"/>
                </div>
                <div class="actions">
                    <p-button class="button" type="submit" [disabled]="!paymentForm.valid">Add</p-button>
                </div>
            </div>
            
    </form>
</div> 

